@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }
}
:root {
  --bg-color: #e10606;
}
.active {
  color: var(--bg-color);
  @apply bg-gray-100 dark:bg-white/10 font-semibold;
}
.hover:hover {
  stroke: var(--bg-color);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--bg-color);
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5px;
}

#nav {
  background-color: var(--bg-color);
}
#btn {
  background-color: var(--bg-color);
}
#modal {
  background-color: var(--bg-color);
}
.plus {
  stroke: var(--bg-color);
}
.fill {
  fill: var(--bg-color);
}
.color-item {
  background-color: var(--bg-color);
}
.text {
  color: var(--bg-color);
}
#button-chat {
  background-color: var(--bg-color);
}
.border-color {
  @apply border-[2px] border-black/30 dark:border-white opacity-90;
}
.border-search {
  border: 2px solid;
  border-color: var(--bg-color);
}
.border-color:focus {
  border: 2px solid;
  opacity: 100;
  border-color: var(--bg-color);
}
.color:hover {
  color: var(--bg-color);
}

.leaflet-container {
  width: 30vw;
  height: 30vw;
}
aside.EmojiPickerReact.epr-main {
  @apply absolute bg-white dark:bg-[#0a0a13] max-sm:w-[85%] w-[450px] h-[400px] bottom-[70px] max-sm:bottom-[8rem] max-lg:bottom-[9rem] xl:bottom-[5rem] 2xl:bottom-[6rem] !important;
}
.EmojiPickerReact li.epr-emoji-category > .epr-emoji-category-label {
  background-color: transparent !important;
}
.EmojiPickerReact .epr-search-container input.epr-search {
  background-color: transparent !important;
  outline: none !important;
}
.EmojiPickerReact:focus .epr-search-container:focus input.epr-search:focus {
  background-color: transparent !important;
}
